<div style="background-color: #e0f7e0; padding: 15px; border-radius: 5px;">
    <h1 style="color: Darkgreen;">Home Work - Sport Athletes<br><br>
        
        28.11.2024
</div>

In [1]:
import numpy as np
import pandas as pd

<div style="background-color: #e0f7e0; padding: 15px; border-radius: 5px;">
    <h3 style="color: Darkgreen;">"Read the following CSV file into a DataFrame."
</h3>
</div>

In [23]:
file_path = r'C:\users\HP\sport_athletes.csv'
df = pd.read_csv(file_path);
print(df);

        Country       Sport Type          Athlete Name  Height(cm)  \
0           USA       Basketball        Michael Jordan         198
1           USA       Basketball          LeBron James         206
2           USA       Basketball           Kobe Bryant         198
3           USA       Basketball          Kevin Durant         208
4           USA       Basketball      Shaquille O'Neal         216
5        Brazil           Soccer                  Pel√©         174
6        Brazil           Soccer                 Marta         163
7      Portugal           Soccer     Cristiano Ronaldo         187
8     Argentina           Soccer          Lionel Messi         170
9        France           Soccer       Zinedine Zidane         185
10          USA           Soccer         Megan Rapinoe         168
11          USA         Swimming        Michael Phelps         193
12          USA         Swimming         Katie Ledecky         180
13          USA         Swimming        Caeleb Dressel         191
14    Australia         Swimming            Ian Thorpe         196
15        China         Swimming              Sun Yang         200
16  Switzerland           Tennis         Roger Federer         185
17          USA           Tennis       Serena Williams         175
18        Spain           Tennis          Rafael Nadal         185
19       Serbia           Tennis        Novak Djokovic         188
20      Jamaica  Track and Field            Usain Bolt         195
21          USA  Track and Field            Carl Lewis         188
22           UK  Track and Field              Mo Farah         176
23          USA  Track and Field     Florence Griffith         165
24          USA  Track and Field          Ashton Eaton         185
25           UK          Cycling          Chris Froome         180
26      Belgium          Cycling           Eddy Merckx         181
27     Slovenia          Cycling         Tadej Pogacar         184
28     Slovenia          Cycling         Primoz Roglic         186
29           UK          Cycling        Geraint Thomas         183
30  Netherlands          Cycling  Anna van der Breggen         175
31          USA       Gymnastics          Simone Biles         142
32      Romania       Gymnastics        Nadia Comaneci         155
33          USA       Gymnastics           Aly Raisman         160
34          USA       Gymnastics         Shawn Johnson         157
35          USA       Gymnastics         Gabby Douglas         150

    Weight(kg)  Wins Olympic Date
0           98     3   08/08/1992
1          113     2   15/08/2008
2           96     2   24/08/2012
3          109     3   10/08/2016
4          147     1   22/08/2000
5           72     3   18/08/1970
6           57     3   01/08/2004
7           83     2   25/08/2008
8           69     2   11/08/2016
9           80     3   17/08/1998
10          62     2   05/08/2020
11          88     5   16/08/2004
12          58     4   25/08/2012
13          88     3   06/08/2016
14          85     4   11/08/2000
15          90     3   08/08/2012
16          85     2   28/07/2008
17          70     4   01/08/2012
18          85     3   05/08/2016
19          84     4   10/08/2020
20          94     6   22/08/2012
21          81     4   15/08/1984
22          65     5   05/08/2016
23          57     4   18/08/1988
24          77     3   08/08/2016
25          70     4   08/08/2012
26          72     5   15/08/1980
27          69     3   11/08/2020
28          68     3   05/08/2016
29          71     4   08/08/2008
30          68     4   10/08/2020
31          48     5   05/08/2016
32          50     5   18/08/1976
33          52     3   10/08/2012
34          50     3   15/08/2008
35          45     3   11/08/2016

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            1. For each sport type, display the highest weight, maximum height, and maximum number of wins:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        * a. Rename the column weight to weight_max:<br>
* b. Rename the column height to height_max<br>
* c. Rename the column wins to wins_max
</div>

In [11]:
# Group by 'Sport Type' and get the maximum values for 'Weight', 'Height', and 'Wins'
df_max = df.groupby('Sport Type').agg(
    weight_max=('Weight(kg)', 'max'),
    height_max=('Height(cm)', 'max'),
    wins_max=('Wins', 'max')
).reset_index();

# Display the result
print(df_max);

        Sport Type  weight_max  height_max  wins_max
0       Basketball         147         216         3
1          Cycling          72         186         5
2       Gymnastics          52         160         5
3           Soccer          83         187         3
4         Swimming          90         200         5
5           Tennis          85         188         4
6  Track and Field          94         195         6


<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            2. For each sport type, display the minimum weight. Then, sort the sports by the lowest weight in ascending order:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        To achieve this, we need to:<br>
a. Group the data by Sport Type and calculate the minimum weight for each sport.<br>
b. Sort the sports based on the minimum weight in ascending order.

</div>

In [13]:
# a. Group by 'Sport Type' and get the minimum weight for each sport:
df_min_weight = df.groupby('Sport Type').agg(
    weight_min=('Weight(kg)', 'min')
).reset_index();

# b. Sort by the minimum weight in ascending order:
df_min_weight_sorted = df_min_weight.sort_values(by='weight_min', ascending=True);

print(df_min_weight_sorted);

        Sport Type  weight_min
2       Gymnastics          45
3           Soccer          57
6  Track and Field          57
4         Swimming          58
1          Cycling          68
5           Tennis          70
0       Basketball          96


<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            3. For each sport type, display the top 2 tallest participants:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        To achieve this, we need to:<br
a. Group the data by Sport Type.<br>
b. Sort the participants within each sport by their height in descending order.<br>
c. Select the top 2 tallest participants for each sport.
</div>

In [14]:
# Group by 'Sport Type' and get the top 2 tallest participants for each sport
df_top_2_tallest = df.sort_values('Height(cm)', ascending=False) \
    .groupby('Sport Type').head(2).reset_index(drop=True);

print(df_top_2_tallest);

        Country       Sport Type       Athlete Name  Height(cm)  Weight(kg)  \
0           USA       Basketball   Shaquille O'Neal         216         147
1           USA       Basketball       Kevin Durant         208         109
2         China         Swimming           Sun Yang         200          90
3     Australia         Swimming         Ian Thorpe         196          85
4       Jamaica  Track and Field         Usain Bolt         195          94
5           USA  Track and Field         Carl Lewis         188          81
6        Serbia           Tennis     Novak Djokovic         188          84
7      Portugal           Soccer  Cristiano Ronaldo         187          83
8      Slovenia          Cycling      Primoz Roglic         186          68
9   Switzerland           Tennis      Roger Federer         185          85
10       France           Soccer    Zinedine Zidane         185          80
11     Slovenia          Cycling      Tadej Pogacar         184          69
12          USA       Gymnastics        Aly Raisman         160          52
13          USA       Gymnastics      Shawn Johnson         157          50

    Wins Olympic Date
0      1   22/08/2000
1      3   10/08/2016
2      3   08/08/2012
3      4   11/08/2000
4      6   22/08/2012
5      4   15/08/1984
6      4   10/08/2020
7      2   25/08/2008
8      3   05/08/2016
9      2   28/07/2008
10     3   17/08/1998
11     3   11/08/2020
12     3   10/08/2012
13     3   15/08/2008

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            4. Create groups based on Country and Sport Type:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        To achieve this, we need to:
        <h5 style="color: black;">
a. Display the highest statistics.<br>
b. Display the highest statistics only for basketball in the USA. Hint: loc<br>
c. Display the highest statistics only for football. Hint: xs<br>
d. Display the highest statistics only for tennis and football. Hint: isin<br>
e. Swap the indexes to Sport Type and Country, and sort the data by Sport Type + Country. Hint: swaplevel<br>
f. Display the statistics for the values: minimum, maximum, mean, and standard deviation for the columns: Wins and Height. Hint: agg
</div>

In [16]:
# a. Group by 'Country' and 'Sport Type', and get the highest statistics (max)
df_grouped_max = df.groupby(['Country', 'Sport Type']).agg({
    'Weight(kg)': 'max',
    'Height(cm)': 'max',
    'Wins': 'max'
}).reset_index();

print(df_grouped_max);

        Country       Sport Type  Weight(kg)  Height(cm)  Wins
0     Argentina           Soccer          69         170     2
1     Australia         Swimming          85         196     4
2       Belgium          Cycling          72         181     5
3        Brazil           Soccer          72         174     3
4         China         Swimming          90         200     3
5        France           Soccer          80         185     3
6       Jamaica  Track and Field          94         195     6
7   Netherlands          Cycling          68         175     4
8      Portugal           Soccer          83         187     2
9       Romania       Gymnastics          50         155     5
10       Serbia           Tennis          84         188     4
11     Slovenia          Cycling          69         186     3
12        Spain           Tennis          85         185     3
13  Switzerland           Tennis          85         185     2
14           UK          Cycling          71         183     4
15           UK  Track and Field          65         176     5
16          USA       Basketball         147         216     3
17          USA       Gymnastics          52         160     5
18          USA           Soccer          62         168     2
19          USA         Swimming          88         193     5
20          USA           Tennis          70         175     4
21          USA  Track and Field          81         188     4

In [17]:
# b. Filter data for Basketball in the USA
df_basketball_usa = df.loc[(df['Sport Type'] == 'Basketball') & (df['Country'] == 'USA')]

# Get the highest statistics
df_basketball_usa_max = df_basketball_usa[['Weight(kg)', 'Height(cm)', 'Wins']].max();

print(df_basketball_usa_max);

Weight(kg)    147
Height(cm)    216
Wins            3
dtype: int64

In [18]:
# c. Get the highest statistics for Football only using xs
df_football_max = df[df['Sport Type'] == 'Football'].max();

print(df_football_max);

Country         NaN
Sport Type      NaN
Athlete Name    NaN
Height(cm)      NaN
Weight(kg)      NaN
Wins            NaN
Olympic Date    NaN
dtype: object

In [19]:
# d. Filter data for Tennis and Football using isin
df_tennis_football_max = df[df['Sport Type'].isin(['Tennis', 'Football'])].max();

print(df_tennis_football_max);

Country                     USA
Sport Type               Tennis
Athlete Name    Serena Williams
Height(cm)                  188
Weight(kg)                   85
Wins                          4
Olympic Date         28/07/2008
dtype: object

In [20]:
# e. Set multi-index by 'Sport Type' and 'Country'
df_indexed = df.set_index(['Sport Type', 'Country']);

# Sort the data by the multi-index
df_sorted = df_indexed.sort_index();

print(df_sorted);

                                     Athlete Name  Height(cm)  Weight(kg)  \
Sport Type      Country
Basketball      USA                Michael Jordan         198          98
                USA                  LeBron James         206         113
                USA                   Kobe Bryant         198          96
                USA                  Kevin Durant         208         109
                USA              Shaquille O'Neal         216         147
Cycling         Belgium               Eddy Merckx         181          72
                Netherlands  Anna van der Breggen         175          68
                Slovenia            Tadej Pogacar         184          69
                Slovenia            Primoz Roglic         186          68
                UK                   Chris Froome         180          70
                UK                 Geraint Thomas         183          71
Gymnastics      Romania            Nadia Comaneci         155          50
                USA                  Simone Biles         142          48
                USA                   Aly Raisman         160          52
                USA                 Shawn Johnson         157          50
                USA                 Gabby Douglas         150          45
Soccer          Argentina            Lionel Messi         170          69
                Brazil                       Pel√©         174          72
                Brazil                      Marta         163          57
                France            Zinedine Zidane         185          80
                Portugal        Cristiano Ronaldo         187          83
                USA                 Megan Rapinoe         168          62
Swimming        Australia              Ian Thorpe         196          85
                China                    Sun Yang         200          90
                USA                Michael Phelps         193          88
                USA                 Katie Ledecky         180          58
                USA                Caeleb Dressel         191          88
Tennis          Serbia             Novak Djokovic         188          84
                Spain                Rafael Nadal         185          85
                Switzerland         Roger Federer         185          85
                USA               Serena Williams         175          70
Track and Field Jamaica                Usain Bolt         195          94
                UK                       Mo Farah         176          65
                USA                    Carl Lewis         188          81
                USA             Florence Griffith         165          57
                USA                  Ashton Eaton         185          77

                             Wins Olympic Date
Sport Type      Country
Basketball      USA             3   08/08/1992
                USA             2   15/08/2008
                USA             2   24/08/2012
                USA             3   10/08/2016
                USA             1   22/08/2000
Cycling         Belgium         5   15/08/1980
                Netherlands     4   10/08/2020
                Slovenia        3   11/08/2020
                Slovenia        3   05/08/2016
                UK              4   08/08/2012
                UK              4   08/08/2008
Gymnastics      Romania         5   18/08/1976
                USA             5   05/08/2016
                USA             3   10/08/2012
                USA             3   15/08/2008
                USA             3   11/08/2016
Soccer          Argentina       2   11/08/2016
                Brazil          3   18/08/1970
                Brazil          3   01/08/2004
                France          3   17/08/1998
                Portugal        2   25/08/2008
                USA             2   05/08/2020
Swimming        Australia       4   11/08/2000
                China           3   08/08/2012
                USA             5   16/08/2004
                USA             4   25/08/2012
                USA             3   06/08/2016
Tennis          Serbia          4   10/08/2020
                Spain           3   05/08/2016
                Switzerland     2   28/07/2008
                USA             4   01/08/2012
Track and Field Jamaica         6   22/08/2012
                UK              5   05/08/2016
                USA             4   15/08/1984
                USA             4   18/08/1988
                USA             3   08/08/2016

In [21]:
# f. Group by 'Country' and 'Sport Type' and get the statistics using agg
df_stats = df.groupby(['Country', 'Sport Type']).agg({
    'Wins': ['min', 'max', 'mean', 'std'],
    'Height(cm)': ['min', 'max', 'mean', 'std']
}).reset_index();

print(df_stats);

        Country       Sport Type Wins                        Height(cm)       \
                                  min max      mean      std        min  max
0     Argentina           Soccer    2   2  2.000000      NaN        170  170
1     Australia         Swimming    4   4  4.000000      NaN        196  196
2       Belgium          Cycling    5   5  5.000000      NaN        181  181
3        Brazil           Soccer    3   3  3.000000  0.00000        163  174
4         China         Swimming    3   3  3.000000      NaN        200  200
5        France           Soccer    3   3  3.000000      NaN        185  185
6       Jamaica  Track and Field    6   6  6.000000      NaN        195  195
7   Netherlands          Cycling    4   4  4.000000      NaN        175  175
8      Portugal           Soccer    2   2  2.000000      NaN        187  187
9       Romania       Gymnastics    5   5  5.000000      NaN        155  155
10       Serbia           Tennis    4   4  4.000000      NaN        188  188
11     Slovenia          Cycling    3   3  3.000000  0.00000        184  186
12        Spain           Tennis    3   3  3.000000      NaN        185  185
13  Switzerland           Tennis    2   2  2.000000      NaN        185  185
14           UK          Cycling    4   4  4.000000  0.00000        180  183
15           UK  Track and Field    5   5  5.000000      NaN        176  176
16          USA       Basketball    1   3  2.200000  0.83666        198  216
17          USA       Gymnastics    3   5  3.500000  1.00000        142  160
18          USA           Soccer    2   2  2.000000      NaN        168  168
19          USA         Swimming    3   5  4.000000  1.00000        180  193
20          USA           Tennis    4   4  4.000000      NaN        175  175
21          USA  Track and Field    3   4  3.666667  0.57735        165  188


          mean        std
0   170.000000        NaN
1   196.000000        NaN
2   181.000000        NaN
3   168.500000   7.778175
4   200.000000        NaN
5   185.000000        NaN
6   195.000000        NaN
7   175.000000        NaN
8   187.000000        NaN
9   155.000000        NaN
10  188.000000        NaN
11  185.000000   1.414214
12  185.000000        NaN
13  185.000000        NaN
14  181.500000   2.121320
15  176.000000        NaN
16  205.200000   7.563068
17  152.250000   8.015610
18  168.000000        NaN
19  188.000000   7.000000
20  175.000000        NaN
21  179.333333  12.503333

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            5. Add the following rows to the table using concat:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
new_rows = pd.DataFrame({<br> 
    'Country': ['Canada', 'USA'],<br>
    'Sport Type': ['Hockey', 'Skiing'],<br>
    'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'],<br> 
    'Height(cm)': [183, 172],<br>
    'Weight(kg)': [84, 68],<br> 
    'Wins': [3, 4],<br> 
    'Olympic Date': ['01/02/2002', '12/02/2010']<br> 
});
</div>

In [25]:
# New rows to add
new_rows = pd.DataFrame({ 
    'Country': ['Canada', 'USA'], 
    'Sport Type': ['Hockey', 'Skiing'],
    'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'], 
    'Height(cm)': [183, 172],
    'Weight(kg)': [84, 68], 
    'Wins': [3, 4], 
    'Olympic Date': ['01/02/2002', '12/02/2010'] 
});

# Concatenate the new rows with the existing DataFrame
df_updated = pd.concat([df, new_rows], ignore_index=True);

print(df_updated);

        Country       Sport Type          Athlete Name  Height(cm)  \
0           USA       Basketball        Michael Jordan         198
1           USA       Basketball          LeBron James         206
2           USA       Basketball           Kobe Bryant         198
3           USA       Basketball          Kevin Durant         208
4           USA       Basketball      Shaquille O'Neal         216
5        Brazil           Soccer                  Pel√©         174
6        Brazil           Soccer                 Marta         163
7      Portugal           Soccer     Cristiano Ronaldo         187
8     Argentina           Soccer          Lionel Messi         170
9        France           Soccer       Zinedine Zidane         185
10          USA           Soccer         Megan Rapinoe         168
11          USA         Swimming        Michael Phelps         193
12          USA         Swimming         Katie Ledecky         180
13          USA         Swimming        Caeleb Dressel         191
14    Australia         Swimming            Ian Thorpe         196
15        China         Swimming              Sun Yang         200
16  Switzerland           Tennis         Roger Federer         185
17          USA           Tennis       Serena Williams         175
18        Spain           Tennis          Rafael Nadal         185
19       Serbia           Tennis        Novak Djokovic         188
20      Jamaica  Track and Field            Usain Bolt         195
21          USA  Track and Field            Carl Lewis         188
22           UK  Track and Field              Mo Farah         176
23          USA  Track and Field     Florence Griffith         165
24          USA  Track and Field          Ashton Eaton         185
25           UK          Cycling          Chris Froome         180
26      Belgium          Cycling           Eddy Merckx         181
27     Slovenia          Cycling         Tadej Pogacar         184
28     Slovenia          Cycling         Primoz Roglic         186
29           UK          Cycling        Geraint Thomas         183
30  Netherlands          Cycling  Anna van der Breggen         175
31          USA       Gymnastics          Simone Biles         142
32      Romania       Gymnastics        Nadia Comaneci         155
33          USA       Gymnastics           Aly Raisman         160
34          USA       Gymnastics         Shawn Johnson         157
35          USA       Gymnastics         Gabby Douglas         150
36       Canada           Hockey         Wayne Gretzky         183
37          USA           Skiing          Lindsey Vonn         172

    Weight(kg)  Wins Olympic Date
0           98     3   08/08/1992
1          113     2   15/08/2008
2           96     2   24/08/2012
3          109     3   10/08/2016
4          147     1   22/08/2000
5           72     3   18/08/1970
6           57     3   01/08/2004
7           83     2   25/08/2008
8           69     2   11/08/2016
9           80     3   17/08/1998
10          62     2   05/08/2020
11          88     5   16/08/2004
12          58     4   25/08/2012
13          88     3   06/08/2016
14          85     4   11/08/2000
15          90     3   08/08/2012
16          85     2   28/07/2008
17          70     4   01/08/2012
18          85     3   05/08/2016
19          84     4   10/08/2020
20          94     6   22/08/2012
21          81     4   15/08/1984
22          65     5   05/08/2016
23          57     4   18/08/1988
24          77     3   08/08/2016
25          70     4   08/08/2012
26          72     5   15/08/1980
27          69     3   11/08/2020
28          68     3   05/08/2016
29          71     4   08/08/2008
30          68     4   10/08/2020
31          48     5   05/08/2016
32          50     5   18/08/1976
33          52     3   10/08/2012
34          50     3   15/08/2008
35          45     3   11/08/2016
36          84     3   01/02/2002
37          68     4   12/02/2010

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            6. Convert the Olympic date to datetime. Hint: datetime_to:
        </strong>
        <br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
a. Now display all the wins by year using resample.<br>
b. Add a filter so that only the years with at least one win (greater than 0) will appear.<br>
c. Bonus: Convert all the values of 0 to NaN, then use dropna.
</div>

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
        <h5 style="color: black;"><br>
*** To solve this, we will follow these steps:<br>

1. Convert the "Olympic Date" column to a datetime object using pd.to_datetime().<br>
2. Use resample() to group the data by year and sum the wins per year.<br>
3. Filter the years where the total wins are greater than 0.<br>
4. As a bonus, replace all 0 values with NaN and use dropna() to remove rows with NaN values.
</div>

In [28]:
# Step 1: Convert the Olympic Date to datetime format
df['Olympic Date'] = pd.to_datetime(df['Olympic Date'], format='%d/%m/%Y');

# Step 2: Set the Olympic Date as the index for resampling
df.set_index('Olympic Date', inplace=True);

# Step 3: Resample the data by year and sum the 'Wins' for each year
yearly_wins = df.resample('Y')['Wins'].sum();

# Step 4: Filter the years with at least one win (greater than 0)
yearly_wins_filtered = yearly_wins[yearly_wins > 0]

# Bonus: Replace all zeros in the wins column with NaN and drop rows with NaN values
df['Wins'] = df['Wins'].replace(0, pd.NA);  # Replace 0 with NaN
df_cleaned = df.dropna(subset=['Wins']);  # Drop rows where 'Wins' is NaN

# Display the results
print("Yearly wins (filtered by years with at least one win):");
print(yearly_wins_filtered);

print("\nCleaned DataFrame with 0s replaced by NaN and dropped:");
print(df_cleaned);

Yearly wins (filtered by years with at least one win):
Olympic Date
1970-12-31     3
1976-12-31     5
1980-12-31     5
1984-12-31     4
1988-12-31     4
1992-12-31     3
1998-12-31     3
2000-12-31     5
2004-12-31     8
2008-12-31    13
2012-12-31    26
2016-12-31    30
2020-12-31    13
Name: Wins, dtype: int64

Cleaned DataFrame with 0s replaced by NaN and dropped:
                  Country       Sport Type          Athlete Name  Height(cm)  \
Olympic Date
1992-08-08            USA       Basketball        Michael Jordan         198
2008-08-15            USA       Basketball          LeBron James         206
2012-08-24            USA       Basketball           Kobe Bryant         198
2016-08-10            USA       Basketball          Kevin Durant         208
2000-08-22            USA       Basketball      Shaquille O'Neal         216
1970-08-18         Brazil           Soccer                  Pel√©         174
2004-08-01         Brazil           Soccer                 Marta         163
2008-08-25       Portugal           Soccer     Cristiano Ronaldo         187
2016-08-11      Argentina           Soccer          Lionel Messi         170
1998-08-17         France           Soccer       Zinedine Zidane         185
2020-08-05            USA           Soccer         Megan Rapinoe         168
2004-08-16            USA         Swimming        Michael Phelps         193
2012-08-25            USA         Swimming         Katie Ledecky         180
2016-08-06            USA         Swimming        Caeleb Dressel         191
2000-08-11      Australia         Swimming            Ian Thorpe         196
2012-08-08          China         Swimming              Sun Yang         200
2008-07-28    Switzerland           Tennis         Roger Federer         185
2012-08-01            USA           Tennis       Serena Williams         175
2016-08-05          Spain           Tennis          Rafael Nadal         185
2020-08-10         Serbia           Tennis        Novak Djokovic         188
2012-08-22        Jamaica  Track and Field            Usain Bolt         195
1984-08-15            USA  Track and Field            Carl Lewis         188
2016-08-05             UK  Track and Field              Mo Farah         176
1988-08-18            USA  Track and Field     Florence Griffith         165
2016-08-08            USA  Track and Field          Ashton Eaton         185
2012-08-08             UK          Cycling          Chris Froome         180
1980-08-15        Belgium          Cycling           Eddy Merckx         181
2020-08-11       Slovenia          Cycling         Tadej Pogacar         184
2016-08-05       Slovenia          Cycling         Primoz Roglic         186
2008-08-08             UK          Cycling        Geraint Thomas         183
2020-08-10    Netherlands          Cycling  Anna van der Breggen         175
2016-08-05            USA       Gymnastics          Simone Biles         142
1976-08-18        Romania       Gymnastics        Nadia Comaneci         155
2012-08-10            USA       Gymnastics           Aly Raisman         160
2008-08-15            USA       Gymnastics         Shawn Johnson         157
2016-08-11            USA       Gymnastics         Gabby Douglas         150

              Weight(kg)  Wins
Olympic Date
1992-08-08            98     3
2008-08-15           113     2
2012-08-24            96     2
2016-08-10           109     3
2000-08-22           147     1
1970-08-18            72     3
2004-08-01            57     3
2008-08-25            83     2
2016-08-11            69     2
1998-08-17            80     3
2020-08-05            62     2
2004-08-16            88     5
2012-08-25            58     4
2016-08-06            88     3
2000-08-11            85     4
2012-08-08            90     3
2008-07-28            85     2
2012-08-01            70     4
2016-08-05            85     3
2020-08-10            84     4
2012-08-22            94     6
1984-08-15            81     4
2016-08-05            65     5
1988-08-18            57     4
2016-08-08            77     3
2012-08-08            70     4
1980-08-15            72     5
2020-08-11            69     3
2016-08-05            68     3
2008-08-08            71     4
2020-08-10            68     4
2016-08-05            48     5
1976-08-18            50     5
2012-08-10            52     3
2008-08-15            50     3
2016-08-11            45     3

C:\Users\HP\AppData\Local\Temp\ipykernel_21300\100704923.py:8: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly_wins = df.resample('Y')['Wins'].sum();

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            7. You received a CSV file documenting whether each athlete smokes or not, at the following link:
</div>

In [35]:
file_path = r'C:\users\HP\athletes_smoking.csv'
df = pd.read_csv(file_path);
print(df);

         Athlete Name Smoking
0      Michael Jordan      No
1        LeBron James      No
2         Kobe Bryant     Yes
3          Usain Bolt      No
4        Simone Biles      No
5       Wayne Gretzky     Yes
6        Lindsey Vonn      No
7        Rafael Nadal      No
8        Lionel Messi     Yes
9   Cristiano Ronaldo      No
10      Megan Rapinoe      No
11       Kevin Durant      No
12   Shaquille O'Neal      No
13         Carl Lewis     Yes
14         Ian Thorpe      No

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            7. Tasks:
        </strong>
        <br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
First task:<br> 
Merge the tables so that only sports for which there is documentation about whether athletes smoke or not appear.
<br><br>
Second task:<br> 
Merge the tables so that all athletes appear along with the documentation about whether they smoke or not. Where there is no documentation, it should display as NaN.<br>
</div>

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            To merge the two tables and meet the requirements, we can follow these steps:
        </strong>
        <br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
Merge the tables for sports with smoking documentation: We will merge the tables (e.g., df and df2), but only include rows where the "Smoker" column exists (i.e., those who have smoking data).
<br><br>
Merge the tables for all athletes: In this case, we will merge the two tables without filtering out any rows. If an athlete does not have smoking information, it will be marked as NaN.
</div>

In [38]:
# Perform an inner join on 'Athlete Name' to get only the athletes with smoking data
merged_inner = pd.merge(df, athletes_smoking, on='Athlete Name', how='inner');

print(merged_inner);

      Country       Sport Type       Athlete Name  Height(cm)  Weight(kg)  \
0         USA       Basketball     Michael Jordan         198          98
1         USA       Basketball       LeBron James         206         113
2         USA       Basketball        Kobe Bryant         198          96
3         USA       Basketball       Kevin Durant         208         109
4         USA       Basketball   Shaquille O'Neal         216         147
5    Portugal           Soccer  Cristiano Ronaldo         187          83
6   Argentina           Soccer       Lionel Messi         170          69
7         USA           Soccer      Megan Rapinoe         168          62
8   Australia         Swimming         Ian Thorpe         196          85
9       Spain           Tennis       Rafael Nadal         185          85
10    Jamaica  Track and Field         Usain Bolt         195          94
11        USA  Track and Field         Carl Lewis         188          81
12        USA       Gymnastics       Simone Biles         142          48

    Wins Olympic Date Smoking
0      3   08/08/1992      No
1      2   15/08/2008      No
2      2   24/08/2012     Yes
3      3   10/08/2016      No
4      1   22/08/2000      No
5      2   25/08/2008      No
6      2   11/08/2016     Yes
7      2   05/08/2020      No
8      4   11/08/2000      No
9      3   05/08/2016      No
10     6   22/08/2012      No
11     4   15/08/1984     Yes
12     5   05/08/2016      No

In [39]:
# Perform a left join on 'Athlete Name' to get all athletes, with NaN for missing smoking data
merged_left = pd.merge(df, athletes_smoking, on='Athlete Name', how='left');

print(merged_left);

        Country       Sport Type          Athlete Name  Height(cm)  \
0           USA       Basketball        Michael Jordan         198
1           USA       Basketball          LeBron James         206
2           USA       Basketball           Kobe Bryant         198
3           USA       Basketball          Kevin Durant         208
4           USA       Basketball      Shaquille O'Neal         216
5        Brazil           Soccer                  Pel√©         174
6        Brazil           Soccer                 Marta         163
7      Portugal           Soccer     Cristiano Ronaldo         187
8     Argentina           Soccer          Lionel Messi         170
9        France           Soccer       Zinedine Zidane         185
10          USA           Soccer         Megan Rapinoe         168
11          USA         Swimming        Michael Phelps         193
12          USA         Swimming         Katie Ledecky         180
13          USA         Swimming        Caeleb Dressel         191
14    Australia         Swimming            Ian Thorpe         196
15        China         Swimming              Sun Yang         200
16  Switzerland           Tennis         Roger Federer         185
17          USA           Tennis       Serena Williams         175
18        Spain           Tennis          Rafael Nadal         185
19       Serbia           Tennis        Novak Djokovic         188
20      Jamaica  Track and Field            Usain Bolt         195
21          USA  Track and Field            Carl Lewis         188
22           UK  Track and Field              Mo Farah         176
23          USA  Track and Field     Florence Griffith         165
24          USA  Track and Field          Ashton Eaton         185
25           UK          Cycling          Chris Froome         180
26      Belgium          Cycling           Eddy Merckx         181
27     Slovenia          Cycling         Tadej Pogacar         184
28     Slovenia          Cycling         Primoz Roglic         186
29           UK          Cycling        Geraint Thomas         183
30  Netherlands          Cycling  Anna van der Breggen         175
31          USA       Gymnastics          Simone Biles         142
32      Romania       Gymnastics        Nadia Comaneci         155
33          USA       Gymnastics           Aly Raisman         160
34          USA       Gymnastics         Shawn Johnson         157
35          USA       Gymnastics         Gabby Douglas         150

    Weight(kg)  Wins Olympic Date Smoking
0           98     3   08/08/1992      No
1          113     2   15/08/2008      No
2           96     2   24/08/2012     Yes
3          109     3   10/08/2016      No
4          147     1   22/08/2000      No
5           72     3   18/08/1970     NaN
6           57     3   01/08/2004     NaN
7           83     2   25/08/2008      No
8           69     2   11/08/2016     Yes
9           80     3   17/08/1998     NaN
10          62     2   05/08/2020      No
11          88     5   16/08/2004     NaN
12          58     4   25/08/2012     NaN
13          88     3   06/08/2016     NaN
14          85     4   11/08/2000      No
15          90     3   08/08/2012     NaN
16          85     2   28/07/2008     NaN
17          70     4   01/08/2012     NaN
18          85     3   05/08/2016      No
19          84     4   10/08/2020     NaN
20          94     6   22/08/2012      No
21          81     4   15/08/1984     Yes
22          65     5   05/08/2016     NaN
23          57     4   18/08/1988     NaN
24          77     3   08/08/2016     NaN
25          70     4   08/08/2012     NaN
26          72     5   15/08/1980     NaN
27          69     3   11/08/2020     NaN
28          68     3   05/08/2016     NaN
29          71     4   08/08/2008     NaN
30          68     4   10/08/2020     NaN
31          48     5   05/08/2016      No
32          50     5   18/08/1976     NaN
33          52     3   10/08/2012     NaN
34          50     3   15/08/2008     NaN
35          45     3   11/08/2016     NaN